<library path="src">
  <class name="Bag" type="rqt_dvl.dvl_client.DvlClient" base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI that let the user interact with the provider_dvl
    </description>
    <qtgui>
      <group>
        <label>Logging</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to logging.</statustip>
      </group>
      <label>DvlClient</label>
      <icon type="theme">applications-other</icon>
      <statustip>A GUI that let the user interact with the provider_dvl.</statustip>
    </qtgui>
  </class>
</library>
