<library path="lib/librqt_mapping_client">
  <class name="rqt_mapping_client/MappingClient" type="rqt_mapping_client::MappingClient" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to view a sensor_msgs/Image topic.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Image View</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for viewing sensor_msgs/Image topics.</statustip>
    </qtgui>
  </class>
</library>
