<library path="src">
  <class name="Bag" type="rqt_mapping_client.mapping_client.MappingClient" base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI that let the user interact with the proc_mapping
    </description>
    <qtgui>
      <group>
        <label>Logging</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to logging.</statustip>
      </group>
      <label>MappingClient</label>
      <icon type="theme">applications-other</icon>
      <statustip>A GUI that let the user interact with the proc_mapping.</statustip>
    </qtgui>
  </class>
</library>
